#page-title-container{
    padding-top: 2vh;
    padding-left: 8vh; 
    padding-right: 20vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 2vh;
}
.title-bold-text{
    font-weight: 700;
}
#dashboard-nav{
    font-size: 2vh;
}
#adv-search-nav{
    font-size: 2vh;
}
.edit-delete-container{
    display: flex; 
    gap: 1vh;
    flex-direction: column; 
    align-items: end;
    padding-right: 1vw;
}
.edit-delete-buttons{
    height: 3vh;
    width: auto;
}