#page-title-container{
    padding-top: 2vh;
    padding-left: 8vh; 
    padding-right: 20vh;
    display: flex; 
    justify-content: center;
    align-items: center; 
    gap: 2vh;
}
.title-bold-text{
    font-weight: 700;
}
#dashboard-nav{
    font-size: 2vh;
    padding-right: 4vh;
}
#adv-search-nav{
    font-size: 2vh;
    padding-left: 3vh;
}
.edit-delete-container{
    display: flex; 
    gap: 5vh;
    flex-direction: row; 
    align-items: center;
    padding-left: 2vw;
    padding-top: 0.5vh;
}
.edit-button, .delete-button{
    height: 3vh;
    width: auto;
}
#edit-library-form, #delete-library-form{
    display: none;
}